Dockerfile
.dockerignore
Jenkinsfile
docker-compose.yml
node_modules
.next
.git
.gitignore
*.log
.env
.env.local
.env.development
.env.production
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
docs/
README.md
